{% assign limit = 5 %}
{% assign count = 0 %}
{% assign variant = product.selected_or_first_available_variant %}

{% case product.type %}
        {% when 'Air & Syphon Guns' %} 
                {% assign meta_list = 'Inlet Connection|Inlet-Connection,Min. Compressor|Min-Compressor-Required,Flow|Flow,Syphon Flow Rate|Syphon-Flow-Rate,
                        Output Thrust|Output-Thrust,Syphon Flow Rate|Syphon-Flow-Rate,Noise Level|Noise-Level' %}
        {% when 'Air Hoses & Fittings' %}
                {% assign meta_list = 'Inlet Connection|Inlet-Connection' %}
        {% when 'Parts & Accessories' %}
                {% assign meta_list = 'Vacuum Flow|Vacuum-Flow,Vacuum Lift|Vacuum-Lift,Min. Compressor|Min-Compressor-Required,Inlet Connection|Inlet-Connection,Flow|Flow' %}
        {% when 'Vacuums' %}
                {% assign meta_list = 'Vacuum Flow|Vacuum-Flow,Vacuum Lift|Vacuum-Lift,Min. Compressor|Min-Compressor-Required,Inlet Connection|Inlet-Connection,Flow|Flow' %}                                
{% endcase %}
{% assign meta_array = meta_list | split:',' %}

<div class="card-metafields grid">

 {% for meta in meta_array %}
        {% assign label = meta | split: '|' | first %}
        {% assign key = meta | split: '|' | last %}
        {% if variant.metafields.global[key] %}
                <div class="meta__item"><span class="meta-label">{{ label }}:</span><span class="meta-value">{{  variant.metafields.global[key] }}</span></div>
                {% assign count = count | plus:1 %}
        {% endif %}
        {% if forloop.index == limit %}{% break %}{% endif %}
 {% endfor %}
        
</div>