
        <div class="flex__content-block__content">
          <h3 class="flex__content-block__heading">{{ section.settings.social_heading }}</h3>
          <div class="flex__content-block__text">{{ section.settings.social_text }}</div>
          {% render 'social-icons' %}
        </div>