
        <div class="flex__content-block__content">
          <{{ block.settings.heading_type }} class="flex__content-block__heading">{{ block.settings.heading }}</{{ block.settings.heading_type }}>
          <div class="flex__content-block__text">{{ block.settings.subheading }}</div>
          {% render 'social-icons' %}
        </div>