{% assign limit = 3 %}
{% assign count = 0 %}
{% case product.type %}
        {% when 'Vacuums' %}
                {% assign val1 = product.selected_or_first_available_variant.metafields.global.Vacuum-Flow %}
        {% when 'Air & Syphon Guns' %}     
                {% assign val1 = product.selected_or_first_available_variant.metafields.global.Min-Compressor-Required %}                
{% endcase %}
<div class="card-metafields grid">
        {% for row in (1..limit) %}
                {% if val1 %}<div class="meta__item"><span class="meta-label">{{ val1.label }}:</span><span class="meta-value">{{  val1.value }}</span></div>{% assign count = count | plus:1 %}{% endif %}
                <div class="meta__item"><span class="meta-label">Title:</span><span class="meta-value"> value</span></div>

                {% if count > limit %}{% break %}{% endif %}
        {% endfor %}

        
</div>