<div class="card-metafields grid">
        {% for count in (1..3) %}
        <div class="meta__item"><span class="meta-label">Title:</span><span class="meta-value">value</span></div>
        {% endfor %}
</div>