<div class="itg_airhose_toplink_wrapper">
  <div class="page-width">
    <div class="itg_toplink_maindiv">
      <ul>
        {% for block in section.blocks %}
        <li>
          <img src="{{ block.settings.img |img_url:'150x' }}">
          <a href="#{{ block.settings.heading | downcase | replace:' ', '' }}">
             <h3>{{ block.settings.heading }}</h3> 
             <span>view</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Air Hose Toplink",
    "settings": [],
    "blocks": [
      {
        "name": "Block",
        "type": "block",
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }
        ]
      }
    ],
    "presets":[
      {
        "name": "Air Hose Toplink"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}