<div class="itg_air_compressed_wrapper">
  <div class="page-width">
    <div class="itg_compressed_content">
      <div class="itg_imgtext_section">
      {% assign img_with_text = section.blocks | where: 'type', 'image-with-text' %}
      {% assign table = section.blocks | where: 'type', 'table' %}
      {% for block in img_with_text %}
        <div class="itg_img_text {% if block.settings.itg_img_position == true %} itg_right_img {% endif %}">
          {% if block.settings.img != blank %}
          <div class="itg_compressed_img">
            <img src="{{ block.settings.img | img_url:'200x' }}" alt="{{ block.settings.heading }}"> 
          </div>
          {% endif %}
          <div class="itg_compressed_data  {% if block.settings.img == blank %} itg_without_img {% endif %}">
            <h3>{{ block.settings.heading }}</h3>
            {{ block.settings.pera }}
          </div>
        </div>
      {% endfor %}
      <div class="itg_table">
        <h3>Pressure Loss (psi) for 50 Feet of Common Air Hose</h3>
        <table border="1">
          <tr>
            <th>
              Vacuum Generating Head <br> with Venturi Type
            </th>
            <th>Air Flow <br> (cfm)</th>
            <th colspan="3" class="itg_innertable">
              Air Hose (ID)
              <table>
                <tr>
                  <th>3/8"</th>
                  <th>1/2"</th>
                  <th>3/4"</th>
                </tr>
              </table>
            </th>
          </tr>
          <tr>
            <td>M</td>
            <td>20</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
          </tr>
          <tr>
            <td>S</td>
            <td>20</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
          </tr>
          <tr>
            <td>D</td>
            <td>47</td>
            <td>11</td>
            <td>8</td>
            <td>1</td>
          </tr>
          <tr>
            <td>B</td>
            <td>68</td>
            <td>N/R</td>
            <td>20</td>
            <td>2</td>
          </tr>
          <tr>
            <td>2B</td>
            <td>110</td>
            <td>N/R</td>
            <td>N/R</td>
            <td>6</td>
          </tr>
        </table>
      </div>
      </div>
      
      <div class="itg_product_div">
        fgdgdg
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Compressed AirRequirement",
    "settings": [],
    "blocks":[
      {
        "name": "Image With Text",
        "type": "image-with-text",
        "settings":[
          {           
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          },
          {
            "type":"checkbox",
            "id":"itg_img_position",
            "label": "Right Side Image",
            "default": false
          },
          {
            "type": "text",
            "id":"heading",
            "label":"Heading"
          },
          {
            "type":"richtext",
            "id": "pera",
            "label":"Content"
          }
        ]
      }
    ],
    "presets":[
      {
        "name": "Compressed AirRequirement"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}