{% style %}
table {max-width:700px;margin:0 auto;background:#fff;color:#000;}
  th,td {color:#000;background:#fff;}
    th {background:#eee;}
{% endstyle %}

<div class="page-width">
 
<table style="max-width:1200px;margin-top:2rem;">
  <thead>
    <tr>
      <th>Num</th>
      <th>Original Title</th> 
      <th>Remove After Dash</th>
      <th>New Title</th>   
      <th>New Title</th>         
    </tr>
  </thead>
  <tbody>


{% paginate collections.all.products by 100 %}
    {% assign sorted_products = collections.all.products | sort: 'title' %}
    {% assign parts_products = collections.all.products | sort: 'title' | where: "type", "Parts & Accessories" %}
    
{% for product in parts_products %}
      <tr>
          <td>{{ forloop.index }}</td>
          <td>{{ product.title }}</td>
          <td>{% render 'gua-new-title',title:product.title, remove_after_dash: true %}</td>
          <td>{% render 'gua-new-title',title:product.title, remove_after_dash: false, change_model: 'remove' %}</td>
          <td>{% render 'gua-new-title',title:product.title, remove_after_dash: false, change_model: 'move' %}</td>        
      </tr>
  {% endfor %}

{% endpaginate %}
  </tbody>
</table>
</div>